.App {
}

.artistItem{
  word-wrap: break-word;
  max-width: 174px;
  position: relative;
  text-align: center;
  margin: 0.5rem;
}

.songListImg{
  width: 174px;
}
.heartIcon{
  font-size: 20px;
  border-radius: 2px;
  color: #d8d8d8;
  position: absolute;
  padding: 6px;
  right: 10px;
  top: 10px;
  background-color: #e9ecef;
}
.red{
  color: red;
}