
.artistItem {
    word-wrap: break-word;
    position: relative;
    text-align: center;
    margin: 0.5rem 1em;
    padding: 0.5rem;
    border-radius: 7px;
    border: 1px solid gainsboro;
}

.artistNameTable {
    font-size: 1rem;
    color: #313030;
    margin: 4px;
}

.favItem {
    background: #f3f6f9;
    margin: 1em;
    border-radius: 7px;
}

.songListImg {
    max-width: 16em;

}

.favoriteImageBlock {
    position: relative;
}

.favoriteImg {
    width: 5em;
    margin: 0.5em;
    border-radius: 7px;
}

.favName {
    margin-left: 1em;
    color: gray;
}

.heartIconFav {
    margin: 0.5em;
    font-size: 20px;
    border-radius: 2px;
    color: #d8d8d8;
    padding: 6px;
    right: 10px;
    top: 10px;
    background-color: #f3f6f9;
}

.heartIcon {
    font-size: 20px;
    border-radius: 2px;
    color: #d8d8d8;
    position: absolute;
    padding: 6px;
    right: 10px;
    top: 10px;
    background-color: #e9ecef;
}

.red {
    color: red;
}

.searchForm {
    z-index: 20;
}

.searchForm input {
    border-radius: 7px;
}

.artistDetailBlock {
    position: relative;
}