.App {
}

.artistItem {
    word-wrap: break-word;
    position: relative;
    text-align: center;
    margin: 0.5rem;
}

.songListImg {
    width: 100%;
}

.heartIcon {
    font-size: 20px;
    border-radius: 2px;
    color: #d8d8d8;
    position: absolute;
    padding: 6px;
    right: 10px;
    top: 10px;
    background-color: #e9ecef;
}

.red {
    color: red;
}

.searchForm {
    z-index: 20;
}

.searchForm input {
    border-radius: 7px;
}

.artistDetailBlock {
    position: relative;
}